@use "../abstract" as *;

.a_about {
  display: flex;
  flex-direction: row;
  align-items: center;

  .a_about__text {
    align-items: center;

    h1 {
      font-size: 10rem;
      color: $clr--P;
      text-align: center;
    }
    p {
      font-size: 2rem;
      color: $clr--LG;
      text-align: center;
      padding-top: 4rem;
    }
  }
  .a_about__img {
    padding-top: 8.4rem;
    img {
      width: 136rem;
      filter: grayscale(100);
      transition: 600ms;
    }
    img:hover {
      filter: grayscale(0);
      transition: 600ms;
    }
  }

  @include mediaQuery(500px) {
    .container {
      padding: 0 5rem;
    }
    img {
      display: none;
    }
    .a_about {
      display: flex;
      flex-direction: row;
      &__wrapper {
        padding-top: 15rem;
      }
      &__text {
        h1 {
          padding-top: 5rem;
          font-size: 5rem;
          // display: flex;
          // justify-content: flex-end;
        }
        p {
          padding-bottom: 15rem;
        }
        text-align: center;
      }
    }
  }
}
