@use "../abstract/" as *;

.banner {
    &__text {
        width: 55rem;

    }
    h1 {
        padding-top: 10rem;
        font-size: 8rem;
        color: $clr--LG;
    }
    h3 {
        font-size: 3rem;
        padding-top: 1rem;
        color: $clr--P;
    }
    p {
        font-size: medium;
        color: $clr--LG;
        width: 40rem;
        padding-top: 4rem;
    }
    a {
        font-size: 2rem;
        color: $clr--LG;
    }

    &__img {
        width: 100%;

    }
}