@use "../abstract/" as *;

.header {
  position: fixed;
  width: 100%;
  &__wrapper {
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    img {
      width: 13rem;
    }
    display: flex;
    justify-content: space-between;
    nav {
      ul {
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4rem;
        li {
          list-style: none;
          a {
            color: $clr--LG;
          }
          a:hover {
            color: $clr--P;
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .container {
      padding: 0 2rem;
    }
    .header {
      position: unset;
      &__wrapper {
      nav {
        ul {
          display: none;
        }
      }
    }
    }
  }

  // @include mediaQuery(375) {

  // .toggle__menu span {
  //   width: 3rem;
  //   height: 0.2rem;
  //   background-color: $clr--P;
  //   display: block;
  //   border-radius: 5rem;
  //   transition: 0.5s ease;
  // }
  // .toggle__menu {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 0.5rem;
  // }
  // .toggle__menu.open {

  // }
}
