@use "../abstract/" as *;

.btn {
  background-color: transparent;
  display: inline-block;
  padding: 1rem 1rem;
  border: 1px solid $clr--LG;
}

.btn:hover {
  background-color: transparent;
  display: inline-block;
  padding: 1rem 1rem;
  border: 1px solid $clr--P;
  color: $clr--P;
}
