@use "../abstract/" as *;

.btn {
  background-color: transparent;
  display: inline-block;
  padding: 1rem 1rem;
  border: 1px solid $clr--LG;

  // &.bg--MG {
  //   background-color: $clr--P;
  //   color: $clr--LG;
    
  // }
}

